<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Health Status</title>
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-center text-dark" style="font-weight: 600">Health Status</h1>
        <div class="row">
            <div class="col-md-12">
                <br />
                <h2>Uptime</h2>
                <br />
                <center>
                    <h1 style="font-size: 50px; margin-bottom: 20px">
                        <span class="@ViewBag.uptimeClass" style="background: white !important">@ViewBag.uptime%</span>
                    </h1>
                    <div class="progress">
                        <div class="progress-bar @ViewBag.uptimeClass" role="progressbar" style="width: @ViewBag.uptimePercentage;" aria-valuenow="@ViewBag.uptime" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </center>
            </div>

            <div class="col-md-12">
                <br />
                <br />
                <br />
                <h2>Stats</h2>
                <br />
                <div class="d-flex flex-wrap">
                    @foreach (var stat in ViewBag.stats)
                    {
                        <div class="square @if (stat) { <text>active</text> } else { <text>inactive</text> } "></div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
